<div>
    <!-- <h3>
      Row Detail Demo
      <small>
        <a href="https://github.com/swimlane/ngx-datatable/blob/master/demo/basic/row-detail.component.ts" target="_blank">
          Source
        </a>
      </small>
      <small>
        <a href="javascript:void(0)" (click)="table.rowDetail.expandAllRows()">Expand All</a> | 
        <a href="javascript:void(0)" (click)="table.rowDetail.collapseAllRows()">Collapse All</a>
      </small>
    </h3> -->
    <ngx-datatable
      #myTable
      class='material striped'
      [columnMode]='force'
      [headerHeight]='40'
      [footerHeight]='40'
      [rowHeight]='20'
      [scrollbarV]='true'
      [rows]='rows'
      [selectionType]='single'
      [sortType]='multi'
      [loadingIndicator]='true'
      [reorderable]='true'
      [limit]='10'
      (page)='onPage($event)'>
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail 
        #myDetailRow 
        [rowHeight]='300' 
        (toggle)='onDetailToggle($event)'
      >
        <ng-template 
          ngx-datatable-row-detail-template
        >
          <div style="padding-left:15px; padding-right:0px; margin-right:0px">
            <ngx-datatable-row-details [requestID]="requestID"></ngx-datatable-row-details>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Column Templates -->
      <ngx-datatable-column
        headerClass='header'
        [width]="15"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false"
      >
        <ng-template let-row="row" let-expanded="expanded" headerClass='header' ngx-datatable-cell-template >
          <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"></a>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Index" width="40" headerClass='header' [canAutoResize]="true">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>{{rowIndex}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Expanded" width="50" headerClass='header' [canAutoResize]="true">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>{{expanded === 1}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Name" width="200" headerClass='header' [canAutoResize]="true">
        <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Gender" width="200" headerClass='header' [canAutoResize]="true">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template><i [innerHTML]="row['name']"></i> and <i>{{value}}</i></ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Age" width="40" headerClass='header' [canAutoResize]="true"></ngx-datatable-column>
    </ngx-datatable>
  </div>
