div, p, td, th {
    color: steelblue;
    font-family: tahoma;
    font-size:14pt;
}

li, .small {
    color: steelblue;
    font-family: tahoma;
    font-size:9pt;
}

h1, h2, h3 {
    color: fuchsia;
    font-family: tahoma;
}

h4, h5, h6 {
    color: orange;
    font-family: tahoma;
}

img {
    vertical-align: middle;
}

.red { color: red; font-weight:bolder; }
.aqua { color: aqua; font-weight:bolder; }
.orange { color: orange; font-weight:bolder; }
.royal { color: royalblue; font-weight:bolder;  }
.bolder { font-weight: bold; text-decoration: underline; }
.bg-warning { background-color : red; color: white; }
.bg-success { background-color : forestgreen; color: white; }