<div style="text-align:center">
  <h3>
    Welcome to {{title}}!
  </h3>
  <img width="90" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> 5+
</div>

<h3 class="bg-primary p-a-1">{{getName()}}'s To Do List</h3>
<div class="m-t-1 m-b-1">
  <input class="form-control" #todoText />
  <button class="btn btn-primary m-t-1" (click)="addItem(todoText.value)">Add</button>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Description</th>
      <th>Done</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getTodoItems(); let i = index">
      <td>{{i + 1}}</td>
      <td>{{item.action}}</td>
      <td><input type="checkbox" [(ngModel)]="item.done" /></td>
      <td [ngSwitch]="item.done">
        <span *ngSwitchCase="true">Yes</span>
        <span *ngSwitchDefault>No</span>
      </td>
    </tr>
  </tbody>
</table>

<h3>*ngFor (solo asterisco davanti, nessuna parentesi quadra)</h3>
<pre ngNonBindable>
&lt;ul&gt;
  &lt;li *ngFor="let framework of frameworks"&gt;
    {{framework}}
  &lt;/li&gt;
&lt;/ul&gt;
</pre>
<h4>Results in</h4>
<ul>
  <li *ngFor="let framework of frameworks">
    {{framework}}
  </li>
</ul>

  

<h3>[ngSwitch] (senza asterisco davanti, racchiuso tra parentesi quadre)</h3>
<h3>*ngSwitchCase (solo asterisco davanti, nessuna parentesi quadra)</h3>
<h3>*ngSwitchDefault (solo asterisco davanti, nessuna parentesi quadra)</h3>
<pre>
&lt;div [ngSwitch]="selectedcar"&gt;
    &lt;p *ngSwitchCase="'Bugatti'"&gt;I am Bugatti&lt;/p&gt;
    &lt;p *ngSwitchCase="'Mustang'"&gt;I am Mustang&lt;/p&gt;
    &lt;p *ngSwitchCase="'Ferrari'"&gt;I am Ferrari&lt;/p&gt;
    &lt;p *ngSwitchDefault&gt;I am somebody else ({{selectedcar}})&lt;/p&gt;
  &lt;/div&gt;
</pre>  
<p>
  Attenzione!!! Se si opera un confronto sulle stringhe, il comparatore *ngSwitchCase si aspetta come valore di confronto 
  una stringa racchiusa prima tra doppi apici e quindi tra apici singoli, in questo modo: 
  *ngSwitchCase=<b class="royal">"</b><b class="red">'</b>Ferrari<b class="red">'</b><b class="royal">"</b>
</p>
<h4>Results in</h4>
<div [ngSwitch]="selectedcar">
  <p *ngSwitchCase="'Bugatti'">I am Bugatti</p>
  <p *ngSwitchCase="'Mustang'">I am Mustang</p>
  <p *ngSwitchCase="'Ferrari'">I am Ferrari</p>
  <p *ngSwitchDefault>I am somebody else ({{selectedcar}})</p>
</div>

  