div, p, li {
    color: steelblue;
    font-family: tahoma;
    font-size:14pt;
}

li {
    color: steelblue;
    font-family: tahoma;
    font-size:9pt;
}

h1, h2, h3 {
    color: fuchsia;
    font-family: tahoma;
}

h4, h5, h6 {
    color: orange;
    font-family: tahoma;
}

img {
    vertical-align: middle;
}

.red { color: red; text-decoration: none; }
.orange { color: orange; text-decoration: none; }
.royal { color: royalblue; text-decoration: none; }
.bolder { font-weight: bold; }